body{
  background-image: url(/images/Background_Blur2.png);
  /* background-color: rgb(38, 38, 38); */
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

.all{
  height: 100vh;
  position: absolute;
  z-index: -10;
}

h2{
  background-image: linear-gradient(90deg, #4130fc, #ff6969);
  background-size: 70%;
  background-position: center;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.table-data{
    /* border: 1px solid white; */
    padding: 15px;
    border-radius: 30px;
    background-color: #9b9b9b0e;
    backdrop-filter: blur(40px);
    border: 1px solid rgba(255, 255, 255, 0.188);
    box-shadow: 5px 5px 13px 5px rgba(0, 0, 0, 0.123);
    transition: 0.5s ease;

}

.table-data:hover{
  border: 1px solid white;
  transition: 0.5s ease;
}


  .btn-outline-light{
    border: 1px solid rgba(255, 255, 255, 0.315);
    background-color: transparent;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    transition: 10ms ease-in;
    color: white;

  }

  .btn-outline-light:hover{
    background-color: rgba(255, 255, 255, 0.13);
    transition: 10ms ease-in;
    color: white;
  }

  .show-card{
    /* border: 1px solid white; */
    height: 500px;
    width: 355px;
    border-radius: 30px;
    background-color: #9b9b9b0e;
    backdrop-filter: blur(40px);
    /* border: 1px solid rgba(255, 255, 255, 0.188); */
    box-shadow: 5px 5px 13px 5px rgba(0, 0, 0, 0.123);
    padding: 30px;
    transition: 0.1s ease;
  }

  .show-card:hover{
    height: 550px;
    transition: 0.3s ease;
  }

  #show-card-1{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.825)), url(/images/vancouver.jpg);
    background-size: 110%;
  }

  #show-card-2{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.825)), url(/images/seattle.jpg);
    background-size: 130%;
  }

  #show-card-3{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.825)), url(/images/toronto.jpg);
    background-size: 110%;
  }

.review-card{
  width: 560px;
  height: 85px;
  padding: 15px;
  border-radius: 30px;
  background-color: #9b9b9b0e;
  backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.188);
  box-shadow: 5px 5px 13px 5px rgba(0, 0, 0, 0.123);
}

@media only screen and (max-width: 576px) {
  body{
      padding: 15px;
      background-color: rgb(29, 29, 29);
      background-image: none;
  }

  .table-data{
      background-color: transparent;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.13);
      border-radius: 0;
      backdrop-filter: none;
      box-shadow: none;
  }

  .show-city, .show-venue, .show-date, .button-wrap{
      text-align: center !important;
      margin-bottom: 8px;
  }

  .review-card{
    width: 400px;
    height: 550;
    background-color: transparent;
    backdrop-filter: blur(0);
    border: none;
    box-shadow: none;
  }

  #review-quote-1, #review-quote-3, #review-quote-5{
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    border-radius: 0;
  }

  #review-quote-2, #review-quote-4, #review-quote-6{
    text-align: end;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    border-radius: 0;
  }

  .review-container{
    padding: 25px;
  }
}